receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:

exporters:
  debug:
    verbosity: detailed
  otlp_http/openobserve:
    endpoint: http://openobserve:5080/api/default/otlp
    headers:
      Authorization: Basic cm9vdEBleGFtcGxlLmNvbTpTdHJvbmRQYXNzd29yZEhlcmU=

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_http/openobserve, debug]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_http/openobserve, debug]
