# App settings
PORT=3333
HOST=127.0.0.1
ALLOWED_ORIGINS=http://localhost:3535,http://127.0.0.1:3535

# Redis
REDIS_HOST=localhost
REDIS_USER=default
REDIS_PASS=devredis

# PostgreSQL
DB_USER=devuser
DB_PASS=devpass 
DB_PORT=5432
DB_NAME=erp_iam_dev
DB_SYNC=true # BIG ..NO.. for production env.

# SMTP - Email
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_MAIL=no-reply@example.com
SMTP_USER=admin
SMTP_PASS=password

# JWT
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApz51ORqrqNC4PQ39XrRM
.......................... Dummy ...............................
eYVsYOPDw06dfZeQ7B1ve5vDOoeCY3W0ZER2ng0ILaWAVVBPBra/O6KZ4A2q2yhB
PQIDAQAB
-----END PUBLIC KEY-----"
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCnPnU5Gquo0Lg9
........................... Dummy ..............................
PIvIOuw+vZX61CL3lyyiJ6DEuTmmoQrD7pNrzcbdUHKi7a2W7IMYYFZJ3wRVtlSk
F3E7oI2WSp2S2m+2q0YzQCOT
-----END PRIVATE KEY-----"

